body
{
    margin: 0%;
}

/* The Big Box */
#main_wrapper
{
    display: flex;
    flex-direction: row;
}

h1
{
    text-transform: uppercase;
}


/* Take 1/3 of space in column = Aside */
#first_box
{
    min-height: 100%;
    background-color: rgb(239,154,154);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 3.74%;
}

#first_box p
{
    padding: 0% 12.6%;
    text-align: justify;
}

#first_box h1
{
    text-align: center;
    background-color: rgb(64, 64, 64);
    color: rgb(239, 154, 154);
    font-size: 20px; /* Comment calculer précisément la taille de police ? */
    padding: 9px 0px;
}

#leisure
{
    margin-top: auto;
}

#leisure p
{
    background-color: red;
    font-size: 3em;
}

#leisure i
{
    border: 2px solid black;
    border-radius: 50%;
}

#second_box
{
    flex : 2;
    padding: 7% 3.8% 4.6% 5.37%;
    background-color: rgb(248, 248, 248);
}

#underline
{
    border-bottom: 2px solid rgb(239, 154, 154);
}

em
{
    color: rgb(239, 154, 154);
}

#profil_image
{
    text-align: center;
}

img
{
        width: 57%;
        border: 4px solid rgb(239, 154, 230);
        border-radius: 50%;
}

#second_box section h1
{
    border-bottom: 3px solid rgb(239,154,154);
}

h1 i
{
    color: rgb(239,154,154);
    margin-right: 5.2%;
    font-size: 1.5em;
}

.first_column
{
    width: 35%;
    vertical-align: top;
}

.fa-circle
{
    color: rgb(239, 154, 154);
    margin-right: 6.94%;
}

.fa-dot-circle
{
    color: rgb(239, 154, 154);
    margin-right: 6.94%;
}

#recommandation
{
    display: flex;
}

.reference:nth-child(1)
{
    width: 55%;
}


@media all and (max-width: 1024px) /*Une adaptation spécifique tablette est elle nécessaire ? */
{
    #main_wrapper
    {
        flex-direction: column;
    }

    #first_box
    {
        order: 1;
        width: 100%;
    }
}